
a{
    text-decoration: none;
    font-style: italic;
    color: black;
}

h5{
    color: rgba(122, 30, 30, 0.564);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p{
    font-style: italic;
  }